{% extends "layout.html" %}
{% block content %}
<h2>Genre</h2>
<div>
  <p>Select a film genre and we will recommend 10 movies.</p>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Genre
    </button>
    <div id="genre-select-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for genre in movie_df.genre.unique() %}
        <a class="dropdown-item" href="#" genre="{{ genre }}">{{ genre }}</a>
      {% endfor %}
    </div>
  </div>
  <div>
    {% for genre in movie_df.genre.unique() %}
      <div id="genre-reco-{{ genre }}" class="genre-reco d-none">
        <h3>{{ genre }}</h3>
        <table>
          <thead>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Genres</th>
            <th scope="col">Average Rating</th>
            <th scope="col">Reviews</th>
          </thead>
          <tbody>
          {% for index, row in movie_df[movie_df.genre == genre].sort_values('post_mean', ascending=False).iterrows() %}
            <tr>
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ row.title }}</td>
              <td>{{ row.genres }}</td>
              <td>{{ (row.rating_sum / row.review_num)|round(2) }}</td>
              <td>{{ row.review_num }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}