{% extends "layout.html" %}
{% block content %}
<h2>About</h2>
<div>
  <p>This site is Project 4 for STAT 542 from the University of Illinois at Urbana-Champaign. It uses the MovieLens dataset to make recommendations either based on a selected genre, or from rating several movies. You can use the navigation bar above, or select either of the following:</p>

  <a href="/genre"><h3>Genre</h3></a>
  <p>Select a genre and get movie recommendations.</p>

  <a href="/rating"><h3>Rating</h3></a>
  <p>Rate a collection of movies and get customized recommendations.</p>
</div>
{% endblock %}