{% extends "layout.html" %}
{% block content %}
<h2>Rating</h2>
<div>
  <p>Provide your rating for some of the following movies, and then press generate recommendations to get your customized recommendations. To get customized ratings, please rate more than one movie, and don't rate every movie the same.</p>
  <form id="reco-form">
    <table>
        {% for movie_id, movie_title in sample_movies %}
        <tr>
            <td>{{ movie_title }}</td>
            <td>
                <select class="browser-default custom-select" id={{ movie_id }}>
                  <option selected>No Rating</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button id="reco-form-submit" type="submit" class="btn btn-primary">Generate Recommendation</button>
  </form>
</div>
<div id="recommendations"></div>
{% endblock %}